@{
    @model colanta_backend.App.Categories.Infraestructure.RenderCategoriesMailModel
    Layout = "./App/Shared/Infraestructure/Mails/EmailLayout.cshtml";
}

<h2 class="header">Renderizado de categorías</h2>

<p>
    El proceso de renderizado de categorías del middleware finalizó a las <b>@Model.dateTime.ToString("HH:mm:ss")</b> de manera exitosa,
    a continuación los detalles de las acciones realizadas.
</p>

@if(Model.loadedCategories.Count > 0){

    <p>Las siguientes categorías fueron creadas exitosamente en <b>VTEX</b></p>

    <table>
        <thead>
            <tr>
               <th>Categoría</th>
                <th>Siesa Id</th>
                <th>Vtex Id</th>
                <th>Familia</th>
                <th>F.Siesa Id</th>
                <th>F.Vtex Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in @Model.loadedCategories)
            {
                 <tr>
                    <td>@category.name</td>
                    <td>@category.siesa_id</td>
                    <td>@category.vtex_id</td>
                    @if (category.father != null)
                    {
                        <td>@category.father.name</td>
                        <td>@category.father.siesa_id</td>
                        <td>@category.father.vtex_id</td>
                    }
                    else
                    {
                        <td> - </td>
                        <td> - </td>
                        <td> - </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if(Model.inactivatedCategories.Count > 0)
{
    <p>Las siguientes categorías fueron desactivadas de Vtex debido a que no vinieron en el <b>json</b> de <b>SIESA</b></p>

    <table>
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Siesa Id</th>
                <th>Vtex Id</th>
                <th>Familia</th>
                <th>F.Siesa Id</th>
                <th>F.Vtex Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in @Model.inactivatedCategories)
            {
                <tr>
                    <td>@category.name</td>
                    <td>@category.siesa_id</td>
                    <td>@category.vtex_id</td>
                    @if (category.father != null)
                    {
                        <td>@category.father.name</td>
                        <td>@category.father.siesa_id</td>
                        <td>@category.father.vtex_id</td>
                    }
                    else
                    {
                        <td> - </td>
                        <td> - </td>
                        <td> - </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if(Model.failedCategories.Count > 0)
{
    <p>Las siguientes categorías no pudieron ser cargadas a <b>VTEX</b> debido a un error inesperado, se reintentará una inserción con estas categorías mas tarde.</p>

    <table>
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Siesa Id</th>
                <th>Familia</th>
                <th>F.Siesa Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in @Model.failedCategories)
            {
                <tr>
                    <td>@category.name</td>
                    <td>@category.siesa_id</td>
                    <td>@category.father.name</td>
                    <td>@category.father.siesa_id</td>
                </tr>
            }
        </tbody>
    </table>
}